<app-navbar></app-navbar>
<div class="container">
  <table class="table-bordered w-75 ms-5 mt-5">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Revenue</th>
        <th>Est.Year</th>
        <th>Employees</th>
        <th>Industry</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of partnersData; let i = index">
        <td>
          <a routerLink="/partners-details/{{ data.id }}">{{
            data.companyname | uppercase
          }}</a>
        </td>
        <td>{{ data.revenue | currency : "USD" }}</td>
        <td>{{ data.year }}</td>
        <td>{{ data.employees | number }}</td>
        <td>{{ data.industry | uppercase }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
