<div class="partner-details">
  <div class="header">
    <p>header</p>
  </div>
  <div class="body">
    <div class="body-nav">
      <ul>
        <li><a href="">Revenue</a></li>
        <li><a href="">Employees</a></li>
        <li><a href="">Industry</a></li>
      </ul>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Year</th>
            <th>Tornover</th>
            <th>Profit</th>
            <th>Cross Margin</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Year</th>
            <th>Tornover</th>
            <th>Profit</th>
            <th>Cross Margin</th>
            <th>Year</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="footer">
    <p>footer</p>
  </div>
</div>
<p>partners-details works!</p>
